/* # The Rotating Marker # */
details summary::-webkit-details-marker {
  display: none;
}
summary::before {
  font-family: "Hiragino Mincho ProN", "Open Sans", sans-serif;
  content: "▶";
  position: absolute;
  /* top: 1.75rem; */
  /* top: 5vw; */
  /* top: 2.25vh; */
  top: 33%;
  /* left: 0.8rem; */
  left: 5vw;
  transform: rotate(0);
  transform-origin: center;
  transition: 0.2s transform ease;
}
details[open] > summary:before {
  transform: rotate(90deg);
  transition: 0.45s transform ease;
}

/* # The Sliding Summary # */
details {
  overflow: hidden;
}
details summary {
  position: relative;
}
@keyframes details-show {
  from {
    /* margin-bottom: -80%; */
    opacity: 0;
    transform: translateY(-100%);
  }
}
details > *:not(summary) {
  animation: details-show 500ms ease-in-out;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease-in-out;
  color: transparent;
  overflow: hidden;
}
details[open] > *:not(summary) {
  color: inherit;
}

/* # Just Some Pretty Styles # */
[contenteditable] {
  outline: 0px solid transparent;
}

details {
  box-sizing: border-box;
  border-radius: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  background: white;
  box-shadow: 0 6px 15px -2px rgba(112, 128, 144, 0.5);
  text-align: center;
  width: 100%;
  z-index: 1;
}
summary {
  border: 4px solid transparent;
  outline: none;
  /* padding: 1rem; */
  padding: 0 1rem;
  display: block;
  background: #142d49;
  color: white;
  padding-left: 2.2rem;
  position: relative;
  cursor: pointer;
  /* height: 5vw; */
  z-index: 2;
}
/* summary h3 {
  white-space: nowrap;
  overflow: hidden;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
} */
details[open] summary,
summary:hover {
  color: white;
  background: #142d49;
}
summary:hover strong,
details[open] summary strong,
summary:hover::before,
details[open] summary::before {
  color: white;
}

.content {
  z-index: 1;
  padding: 10px;
  border: 2px solid #142d49;
  border-top: none;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.remove-button {
  top: 0%;
  right: 0%;
  height: 30px;
  width: 30px;
  /* fill: var(--dark-blue); */
  color: var(--light-red);
  right: 0;
  z-index: 5;
  position: absolute;
  background-color: red;
  color: white;
  border-radius: 8px;
  border-color: red;
}