.uneditableContent {
  padding-top: 5px;
  margin: 0 10px;
  text-align: center;
}

.uneditableContent p {
  font-size: 15px;
  margin-top: 0;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.uneditableContent h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.uneditableContent svg {
  height: 24px;
  width: 24px;
  color: var(--light-red);
  fill: var(--light-red);
  margin: 5px 0 0 0;
  margin-bottom: 5px;
}